@font-face {
    font-family: 'font1';
    src: url(fonts/font1.otf);
}

.font1 {
    font-family: 'font1', sans-serif;
}

@font-face {
    font-family: 'font2';
    src: url(fonts/font2.ttf);
}

.font2 {
    font-family: 'font2', sans-serif;
}

@font-face {
    font-family: 'font3';
    src: url(fonts/font3.otf);
}

.font3 {
    font-family: 'font3', sans-serif;
}

@font-face {
    font-family: 'font4';
    src: url(fonts/font4.ttf);
}

.font4 {
    font-family: 'font4', sans-serif;
}

@font-face {
    font-family: 'font5';
    src: url(fonts/font5.ttf);
}

.font5 {
    font-family: 'font5', sans-serif;
}

@font-face {
    font-family: 'font6';
    src: url(fonts/font6.ttf);
}

.font6 {
    font-family: 'font6', sans-serif;
}

@font-face {
    font-family: 'font7';
    src: url(fonts/font7.otf);
}

.font7 {
    font-family: 'font7', sans-serif;
}

@font-face {
    font-family: 'font8';
    src: url(fonts/font8.ttf);
}

.font8 {
    font-family: 'font8', sans-serif;
}

@font-face {
    font-family: 'font9';
    src: url(fonts/font9.ttf);
}

.font9 {
    font-family: 'font9', sans-serif;
}

@font-face {
    font-family: 'font10';
    src: url(fonts/font10.ttf);
}

.font10 {
    font-family: 'font10', sans-serif;
}

@font-face {
    font-family: 'font11';
    src: url(fonts/font11.ttf);
}

.font11 {
    font-family: 'font11', sans-serif;
}

@font-face {
    font-family: 'font12';
    src: url(fonts/font12.ttf);
}

.font12 {
    font-family: 'font12', sans-serif;
}

@font-face {
    font-family: 'font13';
    src: url(fonts/font13.ttf);
}

.font13 {
    font-family: 'font13', sans-serif;
}

@font-face {
    font-family: 'font14';
    src: url(fonts/font14.ttf);
}

.font14 {
    font-family: 'font14', sans-serif;
}

@font-face {
    font-family: 'font15';
    src: url(fonts/font15.otf);
}

.font15 {
    font-family: 'font15', sans-serif;
}

@font-face {
    font-family: 'font16';
    src: url(fonts/font16.ttf);
}

.font16 {
    font-family: 'font16', sans-serif;
}

@font-face {
    font-family: 'font17';
    src: url(fonts/font17.ttf);
}

.font17 {
    font-family: 'font17', sans-serif;
}